/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: rgba(30, 30, 46, 0.8);
  color: #cdd6f4;
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-power,
#custom-mullvad,
#custom-net-graph,
#language,
#bluetooth,
#backlight,
#mic,
#power-profiles-daemon,
#sound {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px; /* Less rounded corners */
  background-color: rgba(69, 71, 90, 0.8);
}

/* Module-specific styles */
#clock {
  font-size: 16px;
  font-weight: bold;
}

#custom-net-graph {
  font-size: 9px;
  letter-spacing: -3px;
}


#tray {
  margin-right: 10px;
}

#window {
  font-weight: bold;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inherit;
}

#workspaces button {
  color: #cdd6f4;
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  border-color: #a6e3a1;
  background-color: #585b70;
}
